@import "tailwindcss";

@theme {
  --color-primary: #1E40AF;
  --color-primary-dark: #1E3A8A;
  --color-background: #F3F4F6;
  --color-surface: #FFFFFF;
}

body {
  background-color: var(--color-background);
  color: #111827;
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
}
